<!doctype html>
	<head>
    	<meta name="viewport" content="width=device-width">
    	<title>Cake Crate Bakery</title>
		<meta charset="utf-8">
		<meta name="viewport" content="device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../CSS/CCB.css">
		<style>
		</style>
	</head>
	<header>
		<h1><a ref:="Cheat_RD.html">Cake Crate Bakery</a></h1>
		<nav>
			<ul>
				<li><a href="../Cheat_index.html">Home ></a></li>
				<li><a href="../Cheat_index.html">Contact ></a><br></li>
				<li><a href="../Cheat_index.html">Classes ></a><br></li>
				<li><a href="../Cheat_index.html">Recipes ></a><br></li>
			</ul>
		</nav>
	</header>
	<body>
		<h3>Discover your perfect gift for friends and family</h3>
		<ul>
			<li><img src="../Media/Vday.jpg" alt="For Valentines' Day"></li>
			<li><img src="../Media/KB.jpg" alt="Our Kinder Bueno box great for any occasion."></li>
			<li><img src="../Media/BluePink.jpg" alt="Great as a gender reveal gift!"></li>
		</ul>
	</body>
	<footer>
		<h3>Contact us</h3>
		<p>1234 West Street<br>Cambridge, CB1 1AA</p>
		<p>tel: <a href= "tel:0">0123 456 7890</a></p>
		<p>Email: <a href="mailto:***">CakeCrateBakery@CCB.com</a><br></p>
		<p>An Aaron O'Flaherty production - Copyright Me 2020 &copy; &reg; <i class="fa fa-copyright" aria-hidden="true"></i></p>
	</footer>
</html>