<!doctype html>
<html lang="en">
	<head>
    	<meta name="viewport" content="width=device-width">
    	<title>Daily Bugle</title>
		<meta charset="utf-8">
		<meta name="viewport" content="device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../CSS/News.css"> <!--Links to the "News" CSS file-->

		<style>
		</style>
	</head>

	<body>
		<header>
		<img src="../Media/Bugle.png">
		</header>

        <nav>
			<ul>
				<li><a href="../Cheat_index.html">Home</a></li>
				<li><a href="../Cheat_index.html">Headlines</a><br></li>
				<li><a href="../Cheat_index.html">Weather</a><br></li>
				<li><a href="../Cheat_index.html">Contact</a><br></li>
			</ul>
		</nav>
		<figure class="tablet">
			<img src="../Media/SpiderClipped.jpg" alt="Building crawling freak">
		</figure>
		<main>
			<div class="row">

				<div class="column left desktop">
					<h1>SUPER NEWS!</h1>
					<p><a href="Cheat_index.html">Is Spider-Man to blame for crime wave? OF COURSE!</a><br></p>
					<p><a href="Cheat_index.html">Otto Octavius' new solution to ending energy bills. Exclusive Dily Bugle interview reveals all.</a><br></p>
					<p><a href="Cheat_index.html">Scientists warn rolling around in radioactive waste will NOT give you super-powers! "If you did this, you're an idiot."</a><br></p>
					<p><a href="Cheat_index.html">Spider-Man's boot found at crime scene sells for record high price at City Hall's auction</a><br></p>
					<p><a href="Cheat_index.html">New proposal to make all New York taxis green in hopes of making the city look more Eco-friendly.</a></p>
				</div>
				<div class="column centre">
					<h1>TOAST OF THE TOWN!</h1>
					<img src="../Media/NewsClip.jpg">
					<p>Norman Osborn's rich deal with China will bring in $1billion in trade to New York, brag U.S. officials.</p>
				</div>
				<div class="column right tablet">
					<h2>CASH IN HAND FOR PICTURES!</h2>
					<p>Have a fancy photography diploma and looking to get started in print media? You just picked up your mum's old Kodak camera?</p>
					<p>We don't judge or care!</p>
					<p>You have pictures, we want them. YOU can be featured on the front of New York's most prosperous paper. Stick that in your high school friend's face!</p>
					<p>Professional quality only.<br>Cash subject to review</p>
				</div>

			</div>
			
		</main>
	</body>

	<footer>
		<p>1234 Manhattan<br>New York City</p>
		<p>tel: <a href= "tel:0">0123 456 7890</a></p>
		<p>Email: <a href="mailto:***">DBspammailbox@DB.com</a><br></p>
		<p>An Aaron O'Flaherty production - Copyright Me 2020 &copy; &reg; <i class="fa fa-copyright" aria-hidden="true"></i></p>
	</footer>
</html>